name: Build
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build and analyze
    runs-on: [self-hosted, bamboo-runner]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache SonarQube scanner
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}/scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarQube scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        run: |
          mkdir -p ${{ runner.temp }}/scanner
          dotnet tool update dotnet-sonarscanner --tool-path ${{ runner.temp }}/scanner

      - name: Build and analyze
        run: |
          ${{ runner.temp }}/scanner/dotnet-sonarscanner begin \
            /k:"test-bamboo_dotnet_baf8e27f-fa52-41d5-b613-18e3cf6d141e" \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
            /d:sonar.host.url="${{ secrets.SONAR_HOST_URL }}"
          dotnet build
          ${{ runner.temp }}/scanner/dotnet-sonarscanner end \
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
